.rbt-skeleton-loading {
    &.w-20 {
        width: 20px !important;
    }

    &.h-20 {
        height: 20px !important;
    }

    &.h-10 {
        height: 10px !important;
    }

    &.w-40 {
        width: 40px !important;
    }

    &.w-100 {
        width: 100% !important;
    }

    &.w-200 {
        width: 200px !important;
    }

    &.w-500 {
        width: 500px !important;
    }

    &.w-full-banner {
        width: 100% !important;
        min-height: 400px;
    }

    &.h-40 {
        height: 40px !important;
    }

    &.h-60 {
        height: 60px !important;
    }

    &.h-100 {
        height: 100px !important;
    }

    &.h-banner {
        height: 600px !important;
    }

    &.radius-round {
        border-radius: 50% !important;
    }

    &.radius-4 {
        border-radius: 4px !important;
    }

    &.radius-15 {
        border-radius: 15px !important;
    }
}